<a href="https://github.com/yeejie/My-Rhythm"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/38ef81f8aca64bb9a64448d0d70f1308ef5341ab/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png"></a>

<div class="page-signin">
    
    <div class="signin-header">
        <section class="logo text-center">
            {{main.brand}}
        </section>
    </div>

    <div class="signin-body">
        <div class="container">
            <div class="form-container">
                <h4 class="text-center">Sign Up / Sign In using your social accounts</h4>
                <section class="form-horizontal" data-ng-controller="AuthenticationController">
                    <div class="form-group text-center">
                            <a href="/auth/facebook">
			                    <img src="/images/brand/FB-Signin.png">
		                    </a>
                    </div>
                    <div class="form-group text-center">
                            <a href="/auth/google">
			                    <img src="/images/brand/Google-Signin.png">
		                    </a>
                    </div>
                </section>
            </div>
            <div>     
                Rhythm Application (My Rhythm) and API Service (QH API) are only used for <i>experimental</i> purpose. By continung to Sign Up/Sign In, you indicate your acceptance of these terms of use:
                <ul>
                    <li>We don’t accept any responsibility or liability to you if this website becomes temporarily unavailable due to technical issues, or issues beyond our control.</li>
                    <li>We don’t store your login credential, thus you can only sign up with either Facebook or Google authentication provider. Upon sign up, only basic information such as Name, Email, Provider ID are registered in the system for identification purpose.</li>
                    <li>We accept no responsibility for any loss of data, or for any denial, restriction or interruption of access.</li>
                    <li>We assume you are giving consent to this information collection. If you shall "opt out" of these application and service, please email us at <a href="mailto:my.rhythm.sg@gmail.com">my.rhythm.sg@gmail.com</a></li>
                </ul>
            </div>
            <div>     
                For demo purpose, please use the following facebook user: <b>gloriawong2014@gmail.com</b>; <b>PASS2014word. You may need to use incognito (chrome) to login with demo credential.</b>
            </div>
        </div>
    </div>

</div>