<div class="page" data-ng-controller="IntakeController">

    <div class="row">
        <div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Water Intake</h3>
                </div>
                <div class="panel-body">
                    <div data-flot-chart-realtime
                        data-realtimedata="WaterIntakeData"
                         data-type="realtime"
                         style="width: 100%; height: 300px;"
                         ></div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Sugar Intake</h3>
                </div>
                <div class="panel-body">
                    <div data-flot-chart-realtime
                        data-realtimedata="SugarIntakeData"
                         data-type="realtime"
                         style="width: 100%; height: 300px;"
                         ></div>
                </div>
            </div>
        </div>
    </div> 
    
    <div class="row">
        <div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Fruit Intake</h3>
                </div>
                <div class="panel-body">
                    <div data-flot-chart-realtime
                        data-realtimedata="FruitIntakeData"
                         data-type="realtime"
                         style="width: 100%; height: 300px;"
                         ></div>
                </div>
            </div>
        </div>
    </div>            
      
</div>